@use "theme" as theme;

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Work Sans", sans-serif;
    line-height: 1.618;
    font-weight: 400;

    background-color: theme.$white;
    color: theme.$black;
}

img {
    max-width: 100%;
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.profile {
    width: 17.942rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.618rem;
    margin-bottom: 2.618rem;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__portrait {
        border-radius: 100%;
    }
    &__heading {
        font-size: 2.618rem;
        line-height: 1;
        font-weight: 700;
    }
    &__lead {
        display: inline-block;

        font-size: 1rem;
        color: theme.$gray;

        --flow-space: 0.382rem;
    }

    &__list {
        &-item {
            display: flex;
            height: 1.618rem;
            --flow-space: 0.618rem;
            img {
                padding-right: 0.618rem;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
